<a href="https://colab.research.google.com/github/audalsgh/20250624/blob/main/0625_python_for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

과일 리스트 길이만큼 반복하여, i = "apple", i = "banana", i = "cherry" 순으로 값이 변한다.

In [2]:
fruits = ["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

문자열에 대해 for문을 사용하면, 문자 하나하나에 대하여 출력한다.

In [4]:
for i in "banana":
  print(i)

b
a
n
a
n
a

for문을 중단시키기 위해, if문으로 break를 걸었다.

In [6]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)
  if i == "banana":
    break

apple
banana

if문을 위로 올려서, "banana"에 걸치면 바로 탈출하게 했다.

In [8]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  if i == "banana":
    break
  print(i)

apple

continue 를 만나면, 아래로 진행하는게 아니라 다시 for문으로 돌아와 반복한다

In [10]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  if i == "banana":
    continue
  print(i)

apple
cherry

range() 함수는 0부터 1씩 증가하는 숫자를 반환한다.

In [16]:
for i in range(6):
  print(i)

0
1
2
3
4
5

range()함수에 인자를 2개 넣으면, 첫시작 값과 끝 값이 정해진다

In [18]:
for i in range(2, 6):
  print(i)

2
3
4
5

range()함수에 인자를 3개 넣으면, 첫시작 값과 끝 값과 간격이 정해진다.

In [20]:
for i in range(2, 30, 3):
  print(i)

2
5
8
11
14
17
20
23
26
29

else: 를 붙혀서, for문이 종료되면 한번 실행되는 print문이 실행된다.

In [23]:
for i in range(6):
  print(i)
else:
  print("for문 종료됨!")

0
1
2
3
4
5
마침내 끝남!

else: 를 붙혀도, 중간에 break를 만나 중단되었다면 print문이 실행되지 않는다.

In [25]:
for i in range(6):
  if i == 3: break
  print(i)
else:
  print("for문 종료됨!")

0
1
2

이중 for문, 먼저써있는 adj가 기준이 되어 fruits에 대해 4번 반복되는것이 3번 진행됨

In [29]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry","melon"]

for i in adj:
  for j in fruits:
    print(i,j)

red apple
red banana
red cherry
red melon
big apple
big banana
big cherry
big melon
tasty apple
tasty banana
tasty cherry
tasty melon

내용이 빈 for문에는 pass를 채워줘야 오류가 안남

In [31]:
for i in [0, 1, 2]:
  pass