<a href="https://colab.research.google.com/github/audalsgh/20250624/blob/main/0625_python_define%26class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

def 문법: 으로 함수정의, 호출하는 모습

In [79]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

"string 인자"를 받아서 뒤에 Refsnes 라는 말을 붙힌뒤 출력하는 함수

In [80]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

"string 인자" 2개를 받아서, 비슷한 기능을 하는 함수. *인자 2개를 맞춰서 넘기지 않으면 오류이다!

In [81]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

인자 갯수를 정의하지 못하겠으면, *를 파라미터앞에 붙힌다

In [82]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

인자를 꼭 순서에 맞춰 넘겨줄 필요는 없고, (파라미터3 = "") 순서를 지정해줄수있다.

In [83]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

인자가 몇개 넘어왔는지 모르겠으면, **를 파라미터 앞에 붙힌다

In [84]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

아무 인자도 들어오지 않았을때에도 작동하게 하려면 default 값을 파라미터에 정의해준다.

In [85]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

x라는 string 리스트를 인자로 받아, 인자 리스트만큼 반복하며 값을 출력하는 함수.

In [86]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

입력되는 인자에 5를 곱해주는 함수

In [87]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

내용이 텅빈 함수를 정의하고싶으면 pass라고 채워준다.

In [88]:
def myfunction():
  pass

함수 호출시, (파라미터 이름 = 7) 등의 키워드 인수로 줄수없도록 슬래쉬 / 왼쪽에는 제한된다.
*오른쪽으로는 오직 키워드 인수로만 가능하게 제한한다.
/와 *사이의 y 파라미터는 둘다 가능하다!

In [89]:
def my_function(x, /, y, *, z):
  print(x,y,z)

my_function(3,2,z=1)

3 2 1

k=6 부터 출발하는 재귀함수, 결국 첫 결과인 1을 출력하기위해 7번 호출되어야한다.

In [90]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

------------------------------------------------------------------------

클래스 정의, 접근은 (클래스이름.클래스변수) 쩜으로 접근가능

In [91]:
class MyClass:
  x = 5

In [92]:
p1 = MyClass()
print(p1.x)

5

Person이라는 클래스안에, __init__()함수를 정의했다. 함수내부에서는 자기자신의 이름과 나이 정보가 있다.

In [93]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

그냥 클래스 객체만 출력하면 원하는 결과를 얻지못함. p1.name 으로 클래스 오브젝트에 접근해야함

In [94]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x78a731047f90>

아예 클래스 내부에서 f-string "{}" 으로 클래스 오브젝트에 접근하는 함수까지 만들었다

In [95]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

매개변수이름이 self 라서, p1인자가 self자리로 들어가는 것. 클래스 오브젝트에 접근하는 방식은 쩜으로 똑같다

In [96]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

위의 코드에서 출력해주는 함수의 매개변수를 다르게 주었다. 그래도 같은 클래스이므로 p1 인자를 동일하게 사용한다

In [97]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

클래스 접근법은 p1.age 이고, del 명령어로 "클래스 객체"를 삭제할수있다.

In [98]:
p1.age = 40

In [99]:
del p1.age

In [100]:
del p1

빈 클래스를 만들고싶으면 내용을 pass 로 채우면된다.

In [101]:
class Person:
  pass